body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p,
li {
    color: #444;
    font-size: 15px;
}

/* Barra de navegação */
header,
.navbar {
    background-color: #353D41;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 70px;
    padding-left: .3rem;
}

.navbar-brand {
    padding: 0;
    color: #FFF;
}

.navbar-brand:hover {
    color: #FFF;
}

#navbar-links a {
    color: #d1d1d1;
}

#navbar-links a:hover {
    color: #FFF;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;

}

.nav-item.active {
    border-bottom: 3px solid #FFF;
}

/* Slider */
.container-fluid {
    padding: 0;
}

#mainSlider .carousel-inner,
#mainSlider .carousel-item {
    height: 85vh;
}

#mainSlider .carousel-caption {
    top: 40%;
}

#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
    text-shadow: #000 2px 3px 2px;
}

#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #FFF;
    text-shadow: #000 2px 2px 2px;
}

/* Carreira */
#career-area {
    background-color: #fafeff;
}

.main-title {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
    position: relative;
    padding: 10px;
}

.main-title::after {
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 70px;
    left: 42.5%;
}

.career-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}

#career-list {
    list-style: none;
    padding-left: 0;
}

#career-list i {
    color: rgb(0, 79, 159);
    margin-right: 15px;
    font-size: 1.8em;
}

.copy {
    margin-top: -15px;
    font-size: 11px;
}

/* Habilidades */
.skills-box {
    text-align: center;
    margin-bottom: 50px;
}

.skills-box i,
.skills-box h4 {
    transition: .5s;
}

.skills-box i {
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
}

.skills-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.skills-box:hover>i,
.skills-box:hover>h4 {
    color: rgb(0, 79, 159);
}

/* Formação */

#graduation-area {
    background-color: #fafeff;
}

#graduation-area h4 {
    list-style: none;
    text-align: center;
}

#graduation-area li {
    text-align: justify;
    list-style: none;
}

#pattern-img i {
    font-size: 2.5em;
    margin-right: 10px;
}

#graduation-list li {
    margin-bottom: 10px;
}


/* Oportunidades */

#oportunity-area {
    background-color: #F9F9F9;
}

.oportunity-box {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

.oportunity-middle {
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 15px;
    color: #313133;
}

.oportunity-box .oportunity-title {
    margin-bottom: 20px;
}

.oportunity-box p {
    text-align: justify;
    font-size: medium;
}

/* Onde estudar */

.learn-box {
    margin-bottom: 30px;
}

#filter-btn-box {
    margin-bottom: 50px;
    text-align: center;
}

#learn-area .filter-btn {
    color: rgb(0, 79, 159);
    border: 1px solid rgb(0, 79, 159);
    background-color: transparent;
    text-transform: none;
    margin: 5px 5px;
    min-width: 100px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}

#learn-area .filter-btn.active,
#learn-area .filter-btn:hover {
    color: #FFF;
    border: 1px solid #F3D332;
    background-color: #004084;
}

.img-fluid {
    margin-bottom: 15px;
}

#learn-area h6 {
    font-size: small;
}

.main-btn {
    padding: 10px 20px;
    border-radius: 30px;
    transition: .5s;
}

.campus-btn {
    display: flex;
    max-width: 160px;
    max-height: 40px;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: auto;
    color: #FFF;
    background: #0056b0;
    border: 1px solid;
    border-radius: 1000px;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 6px;
    padding-top: 8px;
    transition: background-color 0.3s, transform 0.2s;
}

.campus-btn:hover,
.campus-btn:focus {
    color: #FFF;
    background-color: #004084;
    border-color: solid;
    transform: translateY(-5px);
    text-decoration: none;
}

.campus-btn::after {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: 3px solid #F3D332;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.campus-btn:hover::after,
.campus-btn:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 40px;
        height: 40px;
        opacity: 1;
    }

    100% {
        width: 60px;
        height: 60px;
        opacity: 0;
    }
}

/* Copyright */

#copy-area {
    background-color: #F1F1F1;
}

#copy-area .container {
    padding: 10px 0;
    text-align: center;
}

#copy-area .container p {
    margin-bottom: 0;
}

#copy-area .container a {
    font-weight: bold;
    color: #444;
    text-decoration: none;

}

#copy-area .container a:hover {
    text-decoration: underline;
    color: rgb(0, 79, 159);
}

#copy-area .container table {
    width: 60% !important;
    margin: auto;
}

.go-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FFF;
    color: rgb(0, 79, 159);
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    transition: background-color 0.3s, transform 0.2s;
}

.go-to-top:hover {
    background-color: rgb(0, 79, 159);
    color: #FFF;
    transform: translateY(-5px);
}

/* responsive tablet */
@media(max-width: 768px) {

    /* geral */
    .container {
        padding: 20px 0;
    }

    /* slider */
    #mainSlider .carousel-inner,
    #mainSlider .carousel-item {
        height: auto;
    }

    #mainSlider .carousel-caption h2 {
        font-size: 30px;
    }

    #mainSlider .carousel-caption p {
        font-size: 22px;
        margin-bottom: 40px;
    }

    .carousel-caption {
        left: 10%;
        right: 10%;
    }

    /* carreira */
    #career-area img {
        margin-top: 100px;
    }

    /* onde estudar */
    #graduation-area .graduation-box {
        padding: 50px 25px;
    }

    #graduation-area img {
        margin-top: 100px;
    }

    /* copy */
    #copy-area .container table {
        border-collapse: separate;
        border-spacing: 10px 0;
        width: 65% !important;
        margin: auto;
    }
}

@media(max-width: 425px) {

    /* slider */
    #mainSlider {
        margin-top: 80px;
    }

    #mainSlider .carousel-caption {
        top: 5%;
    }

    #mainSlider .carousel-caption h2 {
        font-size: 18px;
        margin-bottom: 40px;
    }

    #mainSlider .carousel-caption p {
        font-size: 15px;
        margin-bottom: 20px;
    }

    /* carreira */
  .main-title {
    font-size: 30px;
  }

  #career-area img {
    margin-top: 0;
    margin-bottom: 20px;
  }

  /* formação */
  #graduation-area img {
    margin-top: 0;
    margin-bottom: 20px;
  }

  #graduation-area .main-title {
    margin-bottom: 0px;
  }

  #graduation-area .graduation-box {
    margin-bottom: -90px;
  }

  #oportunity-area .main-title {
    margin-top: 90px;
  }

  /* onde aprender */
  #learn-area .filter-btn {
    margin-bottom: 20px;
  }

  .project-box {
    width: 50%;
  }

  /* copyright */
  #copy-area .container table {
    width: 105% !important;
}
}