body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p,
li {
    color: #444;
    font-size: 14px;
}

/* Barra de navegação */
header,
.navbar {
    background-color: #353D41;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 70px;
    padding-left: .3rem;
}

.navbar-brand {
    padding: 0;
    color: #FFF;
}

.navbar-brand:hover {
    color: #FFF;
}

#navbar-links a {
    color: #d1d1d1;
}

#navbar-links a:hover {
    color: #FFF;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;

}

.nav-item.active {
    border-bottom: 3px solid #FFF;
}

/* slider */
.container-fluid {
    padding: 0;
}

#mainSlider .carousel-inner,
#mainSlider .carousel-item {
    height: 85vh;
}

#mainSlider .carousel-caption {
    top: 40%;
}

#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
    text-shadow: #000 2px 3px 2px;
}

#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #FFF;
    text-shadow: #000 2px 2px 2px;
}

/* Carreira */

#career-area {
    background-color: #F9F9F9;
}

.main-title {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
    position: relative;
    padding: 10px;
}

.main-title::after {
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 70px;
    left: 42.5%;
}

.career-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}

#career-list {
    list-style: none;
    padding-left: 0;
}

#career-list i {
    color: #65DAF9;
    margin-right: 15px;
    font-size: 1.8em;
}

.copy {
    margin-top: -15px;
    font-size: 11px;
}

/* habilidades */

.skills-box {
    text-align: center;
    margin-bottom: 50px;
}

.skills-box i,
.skills-box h4 {
    transition: .5s;
}

.skills-box i {
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
}

.skills-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.skills-box:hover>i,
.skills-box:hover>h4 {
    color: #65DAF9;
}

/* Formação */

#graduation-area {
    background-color: #F9F9F9;
}

#graduation-area h4{
    background-color: #F9F9F9;
    list-style: none;
    text-align: center;
}

#graduation-area li{
    background-color: #F9F9F9;
    text-align: justify;
    list-style: none;
}

#pattern-img i{
    font-size: 3em;
    margin-right: 10px;
}

#graduation-list li {
    
    margin-bottom: 10px; /* Ajusta o espaço entre os itens da lista */
  }

/* Learn */

.learn-box {
    margin-bottom: 30px;
}

#filter-btn-box {
    margin-bottom: 50px;
    text-align: center;
}

#learn-area .filter-btn {
    color: #444;
    border: 1px solid #444;
    background-color: transparent;
    text-transform: none;
    margin: 5px 5px;
    min-width: 100px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}

#learn-area .filter-btn.active,
#learn-area .filter-btn:hover {
    color: #FFF;
    border: 1px solid #65DAF9;
    background-color: #65DAF9;
}

.img-fluid {
    margin-bottom: 15px;
}

#learn-area h6 {
    font-size: small;
}

.main-btn {
    background-color: #65DAF9;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.main-btn:hover {
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
    border-color: #3EC1D5;
}

.campus-btn {
    display: flex;
    max-width: 160px;
    max-height: 40px;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: auto;
    color: #313133;
    background: #65DAF9;
    background: linear-gradient(90deg, #65DAF9 0%, #65DAF9 100%);
    border: 1px solid;
    border-radius: 1000px;
    box-shadow: 6px 6px 12px rgba(79, 209, 197, .64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 6px;
    padding-top: 8px;
}

.campus-btn::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(160px + 6px);
    min-height: calc(40px + 6px);
    box-shadow: 0 0 30px rgba(0, 225, 255, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.campus-btn:hover,
.campus-btn:focus {
    color: #ffffff;
    border-color: transparent;
    transform: translateY(-3px);
    border-color: transparent;
    text-decoration: none;
}

.campus-btn::after {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: 3px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.campus-btn:hover::after,
.campus-btn:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 40px;
        height: 40px;
        opacity: 1;
    }
    100% {
        width: 60px;
        height: 60px;
        opacity: 0;
    }
}

/* Copy */

#copy-area {
    background-color: #F1F1F1;
}

#copy-area .container {
    padding: 10px 0;
    text-align: center;
}

#copy-area .container p {
    margin-bottom: 0;
}

#copy-area .container a {
    font-weight: bold;
    color: #444;
}

#copy-area .container a:hover {
    text-decoration: none;
    color: #3EC1D5;
}

#copy-area .container table {
    width: 35% !important;margin: auto;
}